*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Lato', sans-serif;
}
.app-wrapper{
height: auto;
width: 100%;
margin: 0 auto;
line-height: 1.6;
padding: 32px;
background: #fff;
text-align: center;
}
.search-meal{
    text-align: center;
    padding-top: 50px;
}
#search-input{
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 1px solid lightgrey;
  padding:10px 150px 8px 10px;
}
#search-btn{
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    padding: 8.5px 8px ;
    border: none;
    background-color: darkorange;
}
/* #search-input ::after{
    border: none;
} */
.search-box{
    margin-top: 15px;
    margin-bottom: 40px;
}
i{
    color: white;
    font-size: 17px;
}
::placeholder{
    color: rgba(255, 140, 0, 0.61);
}
.title{
    font-weight: 900;
    color: rgba(0, 0, 0, 0.795);
    text-align: center;
}
blockquote{
    color: rgba(0, 0, 0, 0.651);
}
/* img{
    width: 200px;
    height: 200px;
} */
.btn{
    cursor: pointer;
}
a{
    text-decoration: none;
}

